<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name"theme-color" content="#ff00ff">
    <title>Vikram Negi</title>
    <link rel="stylesheet" href="css/index.css">
    <!-- Google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@650&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <div class="main-container">
        <header>
            <nav class="navbar">
                <div class="nav-l">
                    <h2>vikram negi</h2></div>
                <div class="nav-r">
                    <div class="nav-rl">
                        <ul class="list">
                            <li class="li-item"><a href="#about">home</a></li>
                            <li class="li-item"><a href="#experience">work experience</a></li>
                            <li class="li-item"><a href="#">Skills</a></li>
                            <li class="li-item"><a href="#contact">contact me</a></li>
                        </ul>
                    </div>
                    <div class="nav-rr">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <div class="content-container">
                <div class="cc-div">
                    <div class="ccd-left">
                        <div class="ccd-container profile-card">
                            <div class="pro-card-img">
                                <img src="./img/pic.jpg" alt="loading.."></div>
                            <div class="pro-name">Vikram negi</div>
                            <div class="experties">Developer Programmer</div>
                            <div class="pro-social-media">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-linkedin"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-github"></i>
                            </div></div>
                            <div class="download-sec">
                                <button class="dowl-resumn" type="button">Download resume</button>
                            </div></div>
                    <div class="ccd-middle">
                        <div class="about-sec mid-sec" id="about">
                            <div class="about-sec-cont">
                                <h2 class="about-heading">about me</h2>
                                <p class="short-intro">hello, I'm Vikram Negi!</p>
                                <p class="brief-intro">I am talanted florist and decorator. 
                                    I am an Undergraduate student presuing Btech from Dr. A.P.J Abdul Kalam 
                                    technical university.
                                    To be a part of Company /Organization that indulges
                                    professional growth, which provide challenging and
                                    rewarding career whileallowing me to utilize my
                                    knowledge and skills. I work with a demeanor that
                                    projects flawless service,discretion, flexibility, and professionalism.
                                </p>
                                <div class="share-sec">
                                    <button type="button" class="share-btn"><i class="fas fa-share-nodes"></i> &nbsp;share</button>
                                </div>
                                <br/>
                                <hr/>
                                <div class="per-info-sec">
                                    <div class="per-info">
                                        <h2>personal information</h2>
                                        <table>
                                            <tr><td>full name</td>
                                                <td>vikram negi</td></tr>
                                            <tr><td>D.O.B</td>
                                                <td>01 Jan 2002</td></tr>
                                            <tr><td>address</td>
                                                <td>C-305/8 om nagar badarpur new delhi - 110044</td>
                                            </tr><tr><td>e-mail</td>
                                                <td>vikramnegi175@gmail.com</td>
                                            </tr><tr><td>phone</td>
                                                <td>8178945004</td>
                                            </tr><tr><td>freelance</td>
                                                <td>available</td> </tr>
                                        </table></div>
                                    <div class="lang-sec">
                                        <h2>language</h2>
                                        <div class="langs">
                                            <p class="lang">English</p>
                                            <div class="lang-exp">
                                                <i class="fas fa-circle"></i><i class="fas fa-circle"></i>
                                                <i class="fas fa-circle"></i><i class="fas fa-circle"></i>
                                                <i class="fas fa-circle"></i><i class="fas fa-circle"></i>
                                                <i class="fas fa-circle"></i><i class="fas fa-circle"></i>
                                                <i class="fas fa-circle lang-no"></i>
                                                <i class="fas fa-circle lang-no"></i>
                                            </div>
                                            <p class="exp-level">Professional</p>
                                        </div>
                                        <div class="langs">
                                            <p class="lang">Hindi</p>
                                            <div class="lang-exp"><i class="fas fa-circle"></i>
                                                <i class="fas fa-circle"></i><i class="fas fa-circle"></i>
                                                <i class="fas fa-circle"></i><i class="fas fa-circle"></i>
                                                <i class="fas fa-circle"></i><i class="fas fa-circle"></i>
                                                <i class="fas fa-circle"></i><i class="fas fa-circle"></i>
                                                <i class="fas fa-circle lang-no"></i>
                                            </div><p class="exp-level">Professional</p></div>
                                        <div class="langs">
                                            <p class="lang">Kumauni</p>
                                            <div class="lang-exp"><i class="fas fa-circle"></i>
                                                <i class="fas fa-circle"></i><i class="fas fa-circle"></i>
                                                <i class="fas fa-circle"></i><i class="fas fa-circle"></i>
                                                <i class="fas fa-circle"></i><i class="fas fa-circle"></i>
                                                <i class="fas fa-circle"></i>
                                                <i class="fas fa-circle lang-no"></i>
                                                <i class="fas fa-circle lang-no"></i> </div>
                                            <p class="exp-level">Professional</p>
                                        </div>
                                    </div> </div> </div> </div>
                        <div class="experience-sec mid-sec" id="experience">
                            <div class="exp-sec-cont">
                                <h2 class="about-heading">work experience</h2>
                                <div class="exp-cont"> <div class="exp-title">
                                        <p>Jan 2022 - Apr 2022</p><span class="arrow">&nbsp;<i class="fas fa-circle"></i></span> </div>
                                    <div class="exp-details"><h2>Data Team</h2>
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWLukqxoj4kcYWPgf1F7_GYSpfIuAyMKTkfG61_yhewggCYisScCk2QvJ5Ucjyr0N8JTU&usqp=CAU">
                                        <h3>Gurucool</h3>
                                        <p>Worked as a Date Team member in Data Analatic and research department. This was 3 months Internship</p>
                                    </div> </div>
                                <div class="exp-cont">
                                    <div class="exp-title">
                                        <p>Jan 2021 - Feb 2022</p><span class="arrow">&nbsp;<i class="fas fa-circle"></i></span></div>
                                    <div class="exp-details">
                                        <h2>Digital Ipsum</h2>
                                        <img src="https://digitalipsum.in/wp-content/uploads/2021/01/WhatsApp-Image-2022-06-02-at-3.00.33-PM.jpeg" alt="loading..">
                                        <h3>Web and Wordpres Developer</h3>
                                        <p>Digital Ipsum is one of the digital marketing agency in India.Where I worked as a Wordpress and Web developer.</p> </div></div>
                                <div class="exp-cont">
                                    <div class="exp-title">
                                        <p>Sep 2021 - Jan 2022</p><span class="arrow">&nbsp;<i class="fas fa-circle"></i></span></div>
                                    <div class="exp-details">
                                        <h2>Cyber Security Intern</h2>
                                        <img src="./img/vtf.png" alt="loading..">
                                        <h3>Virtual Testing Foundation</h3>
                                        <p>Virtually Testing is a California, USA based 501(c)3 nonprofit organization. I join as cyber security intern for 3 Months</p>
                                    </div> </div>
                                <div class="exp-cont">
                                    <div class="exp-title">
                                        <p>Nov 2021 - Jan 2022</p><span class="arrow">&nbsp;<i class="fas fa-circle"></i></span></div>
                                    <div class="exp-details">
                                        <h2>Graphics Designer</h2>
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF2otOUNj-yhBvVXja7SqIPYcK-MPxfna5_vbcDECOrA&s" alt="loading..">
                                        <h3>Aashmaan Foundation</h3>
                                        <p>Aashmaan Foundation is an Non-governmantal Organization, where I worked as a Graphics designer Intern for a period of 3 months</p>
                                    </div></div> </div></div>

                        <div class="skill-sec mid-sec" id="experience">
                            <div class="skill-sec-cont">
                                <h2 class="about-heading">Skills</h2>
                                <div class="skill-cont">
                                    <div class="skill-cont-cont">
                                        <div class="skills">
                                            <img src="./img/html.png"> </div>
                                        <h2>html</h2><div class="skill-pro">
                                            <p>98%</p> </div> </div>
                                    <div class="skill-cont-cont">
                                        <div class="skills">
                                            <img src="./img/css.png"></div>
                                        <h2>CSS</h2><div class="skill-pro">
                                            <p>98%</p></div></div>
                                    <div class="skill-cont-cont">
                                        <div class="skills">
                                            <img src="./img/js.png"></div>
                                        <h2>JavaScript</h2><div class="skill-pro">
                                            <p>98%</p></div></div>
                                    <div class="skill-cont-cont">
                                        <div class="skills">
                                            <img src="./img/dart.png"></div>
                                        <h2>Dart</h2><div class="skill-pro">
                                            <p>98%</p></div></div>
                                    <div class="skill-cont-cont">
                                        <div class="skills">
                                            <img src="./img/flutter.png"></div>
                                        <h2>Flutter</h2><div class="skill-pro">
                                            <p>98%</p></div></div>
                                    <div class="skill-cont-cont">
                                        <div class="skills">
                                            <img src="./img/node.png"></div>
                                        <h2>Node Js</h2><div class="skill-pro">
                                            <p>98%</p></div> </div></div> </div></div>
                        <div class="contact-sec mid-sec" id="contact">
                            <div class="about-sec-cont">
                                <h2 class="about-heading">Contact me</h2>
                               <div class="soc-icon-cont">
                                <div class="pro-social-media">
                                    <i class="fa-brands fa-facebook"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                    <i class="fa-brands fa-linkedin"></i>
                                    <i class="fa-brands fa-instagram"></i>
                                    <i class="fa-brands fa-github"></i>
                                </div></div><div class="cont-txt">
                                <p>If you have query or offer then feel free to contact.</p>
                               </div>
                               <div class="cont-form-cont">
                                <form action="">
                                    <div class="single-form-field">
                                        <label for name >your name</label>
                                    <input type="text" name="name">
                                    </div> <div class="single-form-field">
                                        <label for email>e-mail</label>
                                    <input name="email" type="email">
                                    </div><div class="single-form-field">
                                        <label for subject>subject</label>
                                    <input type="text">
                                    </div><div class="single-form-field">
                                        <label for des>comment</label>
                                    <textarea placeholder="Type here..."></textarea>
                                    </div>
                                    <button type="submit" class="share-btn cont-btn"><i class="fas fa-send"></i> &nbsp;send query</button>
                                    </div></form></div>
                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14007.559396687382!2d77.21030844787768!3d28.633063245988808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd37b741d057%3A0xcdee88e47393c3f1!2sConnaught%20Place%2C%20New%20Delhi%2C%20Delhi%20110001!5e0!3m2!1sen!2sin!4v1657520949288!5m2!1sen!2sin" width="720" height="320" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
                        </div></div>
                    <div class="ccd-right">
                        <div class="navigation-container">
                            <div class="pro-pic">
                                <img src="./img/pic.jpg" alt="loading..">
                            </div><div class="side-nav-item pro-exp">
                                <i class="fas fa-briefcase"></i>
                            </div><div class="side-nav-item pro-skill">
                                <i class="fas fa-code"></i>
                            </div><div class="side-nav-item pro-contact">
                                <i class="fas fa-envelope"></i>
                            </div><div class="side-nav-item pro-contact">
                                <i class="fas fa-envelope"></i>
                            </div></div>
                    </div></div></div></section>

        <h4 class="copy"> &copy; All Rights Reserve Vikram Negi</h4>
        <div class="bg-angle">
            <div id="triangle"></div>
            <div id="rigth-triangle"></div>
        </div></div>
</body>
</html>
